body {
    font-family: 'Poppins', sans-serif;
    margin: 0;

}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

.oreng-color {
    color: orange;
}

.flexible-containar {
    display: inline-flex;
    margin-bottom: 150px;
}

.half-with {
    width: 50%;
    padding-left: 2%;
}

.half-with img {
    width: 80%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange to tomato);
    padding: 10px 40px;
    color: white;
    background-color: orange;
    font-weight: 700;
    border-radius: 5px;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;

}

.link-button {
    margin-bottom: 100px;
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}

.shadow {
    width: 40%;
    box-shadow: 10px 10px 40px gray;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 2%;
    font-size-adjust: initial;
    border-radius: 10px;
}

.exprience {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left center;
}

#Baby-Web-Developer {
    border-left: 8px solid orange;

}

#Full-Stack-Web-Developer {
    border-left: 8px solid darkmagenta;
}